.lutos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dnone {
    display: none;
    
}
.ocultFalec {    
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;    
    border: black solid 1px;
}
.ocultFalec .ocult {
    width: 100%;
    border: black solid 1px;
    text-align: center;
}


.lutosC {
  width: 45%;
  margin: 1em auto;
  text-align: center;
  border: rgb(151, 151, 151) solid 1px;
  position: relative;
  padding: 10px;
  background-image: url('/falecimento/anjo.png');
  background-size: cover;
  border-radius: 8px;
  box-shadow: inset white 10px 0px 10px 10px, rgba(0, 0, 0, 0.51) 1px 1px 5px 2px ;
  
  
}
.ocultando {
    width: 100%;
    margin: 10px;
    text-align: center;
   
}
.ocultando button {
    width: 100%;
}
.btnMostra {
    margin-top: .3em;
    margin-bottom: -1em;
    padding: .5em;
    position: relative;
    cursor: pointer;
}
.btnMostra::after {
    content: "Clique 2X";
    position: absolute;
    top: 0;
    left: 0;
    
    font-size: .7em;
}
.vidroF {
   
    background: rgba( 255, 255, 255, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: .8em;

}

.lutosC .fita {
  width: 105px;
  position: absolute;
  top: -25px;
  left: -14px;
  filter: drop-shadow(5px 5px 5px #222);
  z-index: 1;
}
.tabFalecimentos {
    border: black solid 1px;
    width: 80%;
    text-align: center;
    margin: auto;
}
.tabFalecimentos td{
    width: 10%;
    border: black solid 1px;
    padding: 5px;
   
}

.imagemL {
  margin: auto;
  margin-bottom: 0px;
  overflow: hidden;
  align-items: center;
  width: 150px;
  height: 180px;  
  filter: saturate(1.5);
  
  
}
.nota {
    padding: .8em;
    margin: .3em auto;
    width: 90%;
    border: #222 solid 1px;
    position: relative;
    background-color: white;
    

}


.nascFalec {
  width: 80%;
  display: flex;
  margin: 0.8em auto;
  justify-content: space-between;
}
.falecMae {
  text-transform: capitalize;
}
.imagemL img {
    width: 150px;
    height: 150px;
  border: rgba(0, 0, 0, 0.429) solid 1px;
  border-radius: 50%;
}
.nomeF {
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width:360px) {
    .tabFalecimentos {
       
        width: 100%;
       
    }
    .btnMostra{
        margin: auto;
        text-align: center;
        padding: .5em;
        width: 100%;
    }
    .lutosC {
        width: 98%;
        margin: 1em auto;
        text-align: center;
        border: black solid 1px;
        position: relative;
        padding: 10px;
        background-image: url('/falecimento/anjo.png');
        background-size: cover;
        
        
      }
    
}


@keyframes ldio-ayxwwg8ovqm {
    0%    { transform: translate(2px,2px) }
   33.33% { transform: translate(102px,2px) }
   66.66% { transform: translate(42px,102px) }
  100%    { transform: translate(2px,2px) }
}


.ldio-ayxwwg8ovqm > div {
  transform: scale(0.8);
  transform-origin: 100px 100px;
}

.ldio-ayxwwg8ovqm > div > div {
  animation: ldio-ayxwwg8ovqm 1s linear infinite;
  position: absolute
}

.ldio-ayxwwg8ovqm > div > div div:nth-child(1) {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 12px solid #85a2b6;
  background: #bbcedd
}

.ldio-ayxwwg8ovqm > div > div div:nth-child(2) {
  width: 17px;
  height:  51px;
  transform: rotate(-45deg);
  background: #85a2b6;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 68px;
  left: 85px
}
.loadingio-spinner-magnify-kfh3vq1scyq {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-ayxwwg8ovqm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ayxwwg8ovqm div { box-sizing: content-box; }
/* generated by https://loading.io/ */