.lutos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lutosC {
  width: 45%;
  margin: 1em auto;
  text-align: center;
  border: black solid 1px;
  position: relative;
  padding: 10px;
  background-image: url('/falecimento/anjo.png');
  background-size: cover;
  
  
}
.vidroF {
    background: rgba( 255, 255, 255, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: .8em;
}

.lutosC .fita {
  width: 105px;
  position: absolute;
  top: -25px;
  left: -14px;
  filter: drop-shadow(5px 5px 5px #222);
  z-index: 1;
}
.tabFalecimentos td{
    border: black solid 1px;
    padding: 5px;
}

.imagemL {
  margin: auto;
  overflow: hidden;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  filter: saturate(1.5);
  
  
}
.nota {
    padding: .8em;
    margin: .3em auto;
    width: 90%;
    border: #222 solid 1px;
    position: relative;
    background-color: white;
    

}


.nascFalec {
  width: 80%;
  display: flex;
  margin: 0.8em auto;
  justify-content: space-between;
}
.falecMae {
  text-transform: capitalize;
}
.imagemL img {
  border: rgba(0, 0, 0, 0.429) solid 1px;
  border-radius: 50%;
}
.nomeF {
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width:360px) {
    .lutosC {
        width: 98%;
        margin: 1em auto;
        text-align: center;
        border: black solid 1px;
        position: relative;
        padding: 10px;
        background-image: url('/falecimento/anjo.png');
        background-size: cover;
        
        
      }
    
}