body{
    margin: auto;
    width: 90%;
}

.lateral {
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 20px;
    border-bottom: black solid 1px;
}
.preco {
    margin-left: 20px;
    
}
.tipo {
    width: 500px;
    
}
.tabelaTerra {
    border: black solid 1px ;
    
}
@media (max-width: 576px) {
    .body{
        width: 100%;
    }
    .anovtn {
        width: 100%;
    }
}